<ion-view title="about" id="page22" class=" ">
    <ion-content padding="true" class="has-header">
        Hi my name is Claudio, I will soon add more information about Proquu.
    </ion-content>
</ion-view>