<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Requirement</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input ng-model="newReq.name" type="text">
            </label>
            <label class="item item-input">
                <textarea ng-model="newReq.description" rows="10" placeholder="Description"></textarea>
            </label>
            <button class="button button-full button-positive" ng-click="createRequirement(newReq)">Create</button>
          </div>
        </ion-content>
</ion-modal-view>
