<ion-view title="Dashboard" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="dashboard-heading1" style="color:#000000;" class=" ">Project Status</h3>
        <ion-list id="dashboard-list3" class=" ">
            <ion-item class="" ng-click="numOfTestsPassedCheck" id="dashboard-list-item8">
                <h2>{{numOfTestsPassed}} of {{numOfTestsTotal}} Tests are done!</h2>
                <p>Project Progress: {{projectProgress}} %</p>
                <progress max="100" ng-value="projectProgress"></progress>
                <p>{{numOfDefects}} Defects are created!</p>
            </ion-item>
        </ion-list>
        <h3 id="dashboard-heading2" style="color:#000000;" class=" ">Last Changes</h3>
        <ion-item class="" ng-repeat="item in requirements | filter:query | limitTo:1" id="dashboard-list-item555">
            <p>Changes on <strong>{{item.name}}</strong><br>by
            <strong>{{item.created.by}}</strong> at <strong>{{item.created.on | date:'dd.MM.yyyy, h:m:s' }}</strong>
            </p>
        </ion-item>
        <h3 id="dashboard-heading3" style="color:#000000;" class=" ">Project Team</h3>
        <ion-list id="dashboard-list7" class=" " can-swipe="listCanSwipe" >
            <ion-item ng-repeat="item in users" class="item-avatar  " id="dashboard-list-item21">
                <img ng-src="{{item.foto}}">
                <h2>{{item.firstName}} {{item.lastName}}</h2>
                <p>The ultimate user</p>
                <ion-option-button class="button-assertive"
                       ng-click="remove(item.splice($index, 1))">Remove
                </ion-option-button>
            </ion-item>
        </ion-list>
        <button ng-click="modal.show()" id="dashboard-button4" class=" button button-full button-positive  button-block ">Add new member</button>
    </ion-content>
</ion-view>