<ion-view title="Defects" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="defects-list16" class=" ">
            <ion-item class="item-divider " id="defects-list-item-divider7">All Defects</ion-item>
        </ion-list>
        <ion-item ng-repeat="item in defects" id="defects-list-item24" class="  ">
        <div class="item item-body " id="defects-list-item-container10">
            <ul id="defects-markdown9" style="margin-top:0px;color:#000000;" class=" ">
                <li>{{item.description}}</li>
                <br>
                <li>Added by
                    <strong>{{item.created.by}}</strong> on
                    <strong>{{item.created.on}}</strong>
                </li>
            </ul>
            <a ui-sref="menu.defectsDetail({id: item.id})" id="defects-button27" class=" button button-positive button-small button-block button-outline ">View Detail</a>
        </div>
        </ion-item>
        <a ng-click="modal.show()" id="defects-button26" class=" button button-full button-assertive  button-block ">Add new Defect</a>
    </ion-content>
</ion-view>