<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list1" class=" ">
                <label class="item item-select " id="menu-select2">
                    <span class="input-label">Project</span>
                    <select>
                        <option>Project xy</option>
                        <option>Project acb</option>
                        <option>Test Project</option>
                    </select>
                </label>
                <ion-item class="item-icon-right  " id="menu-list-item1" ui-sref="menu.dashboard" menu-close="">Dashboard
                    <i class="icon ion-ios-speedometer"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item2" ui-sref="menu.requirements" menu-close="">Requirements
                    <i class="icon ion-alert"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item3" ui-sref="menu.testing" menu-close="">Testing
                    <i class="icon ion-erlenmeyer-flask"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item4" ui-sref="menu.defects" menu-close="">Defects
                    <i class="icon ion-bug"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item5" ui-sref="menu.reports" menu-close="">Reports
                    <i class="icon ion-android-document"></i>
                </ion-item>
            </ion-list>
            <div class="spacer" style="width: 268px; height: 24px;"></div>
            <ion-list id="menu-list19" class=" ">
                <ion-item class="item-avatar item-icon-right  " id="menu-list-item42" ui-sref="menu.profileSettings" menu-close="">
                    <img src="img/vvji7dvYTa3JM0kOsSpA_claudio_riginio.jpg">
                    <h2>Profile</h2>
                    <p>Settings</p>
                    <i class="icon ion-android-settings"></i>
                </ion-item>
            </ion-list>
            <a ui-sref="login" menu-close="" id="menu-button1" class=" button button-full button-positive  button-block icon-right ion-log-in ">Login</a>
            <a ui-sref="login" menu-close="" id="menu-button11" class=" button button-full button-dark  button-block button-outline icon-right ion-log-out ">Logout</a>
            <div id="menu-button-bar6" class=" button-bar ">
                <a ui-sref="menu.about" menu-close="" id="menu-button33" class=" button button-positive button-small button-block button-clear ">About</a>
                <a ui-sref="menu.contact" menu-close="" id="menu-button35" class=" button button-positive button-small button-block button-clear ">Contact</a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>