<ion-view title="Reports" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="reports-list16" class=" ">
            <ion-item class="item-divider " id="reports-list-item-divider7">Test Report</ion-item>
        </ion-list>
        <ion-item ng-repeat="item in requirements" id="defects-list-item24" class="  ">
        <ul id="reports-markdown4" style="color:#000000;" class=" ">
            <li>
                <strong>{{item.name}}</strong>
                <p>{{item.description}}</p>
                <ion-item ng-repeat="test in testCases" id="defects-list-item24" class="item-icon-right" >
                    <ul id="reports-e4" style="color:#000000;" class=" ">
                        <li>
                            <i>{{test.name}}</i>
                            <p>{{test.description}}</p>
                            <i class="icon ion-ios-checkmark-outline" ng-show="test.isPassed" ></i>
                            <i class="icon ion-ios-close-outline " ng-show="test.isFailed" ></i>
                        </li>
                    </ul>
                </ion-item>
            </li>
            
        </ul>
        </ion-item>
        <div id="reports-button-bar1" class=" button-bar ">
            <button id="reports-button7" class=" button button-positive  button-block ">Print</button>
            <button id="reports-button8" class=" button button-balanced  button-block ">Export</button>
            <button id="reports-button9" class=" button button-positive  button-block ">Share</button>
        </div>       
    </ion-content>
</ion-view>
        