<ion-view title="Requirements" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="requirements-list8" class=" ">
            <ion-item class="item-divider " id="requirements-list-item-divider10">All Categories</ion-item>
            <ion-item ng-repeat="item in requirements" id="requirements-list-item24" class="  ">
                <div class="card">
                    <div class="item item-divider">
                        {{item.name}}
                    </div>
                    <div class="item item-text-wrap">
                    {{item.description}}
                    </div>
                </div>
                <a class="button icon-right ion-chevron-right button-clear button-dark" ui-sref="menu.requirementsDetail({id: item.id})">more details
                </a>
            </ion-item>
        </ion-list>
        <a ng-click="modal.show()" id="requirements-button6" class=" button button-full button-positive  button-block ">Add new Requirement</a>
    </ion-content>
</ion-view>

