<ion-view title="Requirements Detail" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
    <ion-list id="testCaseID_234-list13" class=" ">
            <ion-item class="item-divider " id="testCaseID_234-list-item-divider5">Requirement Description</ion-item>
        </ion-list>
        <div class="item item-body " id="testCaseID_234-list-item-container8">
            <ul id="testCaseID_234-markdown7" style="margin-top:0px;color:#000000;" class=" ">
                <li>
                    <i>{{requirement.description}}</i>
                </li>
            </ul>
        </div>
        <br>
        <ion-item class="item-divider " id="testCaseID_234-list-item-divider13">Attachments</ion-item>
                <div class="list card">
                    <div class="item item-image">
                        <img ng-src={{requirement.attachment[0].ref}} width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                    <a class="item item-icon-left assertive" href="#" ng-click="remove()">
                        <i class="icon ion-trash-a"></i>Remove
                    </a>            
                </div>
            <button id="testCaseID_234-button30" class="button button-dark  button-block button">Add Attachment</button>
           <br>
           <ion-item class="item-divider " id="testCaseID_234-list-item-divider14">Comments</ion-item>
                <ion-item ng-repeat="item in requirement.comments" class="" id="testing-list-item28">
                    <ul id="testCaseID_234-markdown12" style="margin-top:0px;color:#000000;" class=" ">
                        <li>
                            <strong>{{item.author}}: {{item.date | date:'dd.MM yyyy, h:m:s'}}</strong>
                        </li>
                        <li>{{item.comment}}</li>
                    </ul>
                </ion-item>      
            <button id="testCaseID_234-button32" class="button button-dark  button-block button">Add Comment</button>
            </ion-content>
</ion-view>