<ion-view title="Signup" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form3" class="list ">
            <ion-list id="signup-list9" class=" ">
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input8">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button10" class=" button button-positive  button-block ">Sign up</button>
            <div class="item item-body " id="signup-list-item-container9">
                <ul id="signup-markdown8" style="margin-top:0px;color:#000000;" class=" ">
                    <li>By signing up you agree with our
                        <a href="https://" title="Prpquu's terms of conditions">Terms of conditions</a>
                    </li>
                </ul>
            </div>
        </form>
    </ion-content>
</ion-view>