<ion-view title="Test Case" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="testCaseID_234-list13" class=" ">
            <ion-item class="item-divider " id="testCaseID_234-list-item-divider5">Test Description</ion-item>
        </ion-list>
        <div class="item item-body " id="testCaseID_234-list-item-container8">
            <ul id="testCaseID_234-markdown7" style="margin-top:0px;color:#000000;" class=" ">
                <li>
                    <i>{{testCase.description}}</i>
                </li>
            </ul>
        </div>
        <br>
        <ion-list id="testCaseID_234-list14" class=" ">
            <ion-item class="item-divider " id="testCaseID_234-list-item-divider6">Test Result Information</ion-item>
        </ion-list>
            <ion-list>
                <ion-radio ng-model="testCase.testResult" value="passed">Passed</ion-radio>
                <ion-radio ng-model="testCase.testResult" value="failed">Failed</ion-radio>
            </ion-list>   
            <label class="item item-input " id="testCaseID_234-textarea1" name="Add Test Result here">
                <span class="input-label">Values</span><textarea rows="6" placeholder="e.g. Value 1 of system XY"></textarea>
            </label>      
            <br>
            <ion-item class="item-divider " id="testCaseID_234-list-item-divider13">Attachments</ion-item>
                <div class="list card">
                    <div class="item item-image">
                        <img ng-src={{testCase.attachment[0].ref}} width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                    </div>
                    <a class="item item-icon-left assertive" href="#" ng-click="remove()">
                        <i class="icon ion-trash-a"></i>Remove
                    </a>            
                </div>
            <button id="testCaseID_234-button30" class="button button-dark  button-block button">Add Attachment</button>
           <br>
           <ion-item class="item-divider " id="testCaseID_234-list-item-divider14">Comments</ion-item>
                <ion-item ng-repeat="item in testCase.comments" class="" id="testing-list-item28">
                    <ul id="testCaseID_234-markdown12" style="margin-top:0px;color:#000000;" class=" ">
                        <li>
                            <strong>{{item.author}}: {{item.date | date:'dd.MM yyyy, h:m:s'}}</strong>
                        </li>
                        <li>{{item.comment}}</li>
                    </ul>
                </ion-item>      
            <button id="testCaseID_234-button32" class="button button-dark  button-block button">Add Comment</button>
    </ion-content>
</ion-view>