<ion-view title="Testing" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="testing-list10" class=" " can-swipe="listCanSwipe">
            <ion-item class="item-divider " id="testing-list-item-divider3">All Test Sets</ion-item>
                <ion-item ng-repeat="item in testCases" class="item-icon-right" id="testing-list-item28" ui-sref="menu.testCase({id: item.id})">
                    <h2 class="">{{item.name}}</h2>
                    <p class="">{{item.description}}</p>
                    <ion-option-button class="button-balanced"
                       ng-click="passed(item)">Passed
                    </ion-option-button>
                    <ion-option-button class="button-assertive"
                       ng-click="failed(item)">Failed
                    </ion-option-button>
                    <i class="icon ion-ios-circle-outline " ></i>
                    <i class="icon ion-ios-checkmark-outline" ng-show="item.isPassed" ></i>
                    <i class="icon ion-ios-close-outline " ng-show="item.isFailed" ></i>
                </ion-item>
        </ion-list>
        <a ng-click="modal.show()" id="testing-button12" class=" button button-full button-positive  button-block ">Add new Test Case</a>
    </ion-content>
</ion-view>